html {
  --numberOfDiscoverColumns: 1;
  --discoverColumnPadding: 30px;
}

@media only screen and (min-width: 700px) {
  html {
    --numberOfDiscoverColumns: 2;
  }
}

@media only screen and (min-width: 900px) {
  html {
    --numberOfDiscoverColumns: 3;
  }
}

@media only screen and (min-width: 1040px) {
  html {
    --numberOfDiscoverColumns: 4;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    --numberOfDiscoverColumns: 5;
  }
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

input {
  color: #b0b0b0 !important;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  margin: 6px 0 6px 0;
}


.buttons-card {
  margin-bottom: 16px;
}
.button {
  margin: 6px;
}
.active {
  margin: 6px;
  background-color: rgba(33, 208, 122, 1);
}
.text-left {
  text-align: left;
}
.title {
  font-weight: bold;
  margin-bottom: 12px;
}

